<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>エラーが発生しました</title>
    <style>
        .error {
        text-align: center;
        padding: 20px;
        }
        .error-title {
        color: #888;
        font-size: 70px;
        font-weight: bold;
        }
        .error-txt {
        margin-top: 10px;
        }
        .error-link {
        display: block;
        margin-top: 50px;
        color: #2e9fe8;
        }
    </style>
  </head>
  <body>
    <div class="error">
      <p class="error-txt">エラーが発生しました
        <br>時間をおいてから再度アクセスしてください。
      </p>
      <a class="error-link" href="https://forms.gle/n7ejy3uWDJsJBoP89">バグの報告をする</a>
    </div>
  </body>
</html>
